<div class="background">
  <div class="container">
    <!-- MAIN -->
    <div class="main">
      <!-- CENTER -->
      <div class="row justify-content-center align-items-center minh-100">
        <!-- MAIN CARD CONTAINER -->
        <div class="card container-notifications">
          <div class="card-body">
            <!-- NOTIFICATIONS ROW -->
            <div class="row d-flex">
              <div class="col-6">
                <p class="fw-bold fs-5">Notifications 3</p>
              </div>
              <div class="col-6"><p class="text-end">Mark all as read</p></div>
            </div>
            <!-- NOTIFICATIONS CARDS COMPONENTS -->
            <div class="row">
              <app-notification-card></app-notification-card>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
