p {
  font-family: "Plus Jakarta Sans";
  font-size: 16px;
}

.background {
  height: 100vh;
  width: 100vw;
  background-color: #f9fafd;
}

.minh-100 {
  min-height: 100vh;
}

.container-notifications {
  max-width: 50rem;
}

.link:hover {
  cursor: pointer;
  color: hsl(219, 85%, 26%);
}

.badgeBackground {
  margin-left: 5px;
  background-color: hsl(219, 85%, 26%);
}
